{% load static %}

<nav class="ott-navbar">
    <div class="nav-left">
        <span class="brand">OTT Admin</span>
        <a href="{% url 'admin_home' %}">Home</a>
        <a href="{% url 'movielist' %}">Movies</a>
        <a href="{% url 'userlist' %}">Users</a>
        <a href="{% url 'report' %}">Reports</a>
    </div>

    <div class="nav-right">
    <button class="admin-btn" onclick="toggleMenu()">Admin ▼</button>

    <div class="menu-box" id="adminMenu">
        <a href="{% url 'changepassword' %}">Change Password</a>
        <form method="post" action="{% url 'admin_logout' %}">
            {% csrf_token %}
            <button type="submit" class="logoutbtn">Logout</button>
        </form>
    </div>
</div>

</nav>
