{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">


<div class="sidebar">
    <div class="sidebar-brand">OTT Admin</div>

    <nav class="sidebar-menu">
        <a href="{% url 'admin_home' %}">Home</a>
        <a href="{% url 'movielist' %}">Movies</a>
        <a href="{% url 'userlist' %}">Users</a>
        <a href="{% url 'report' %}">Reports</a>
        <a href="{% url 'changepassword' %}">Change Password</a>
    </nav>
    <div class="sidebar-footer">
        <form method="post" action="{% url 'admin_logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logoutbtn">Logout</button>
        </form>
    </div>
</div>
