<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password change</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<div class="admin-layout">

    {% include 'partials/navbar.html' %}

    <main class="main-content">
        <h1>Change Pasword</h1>
    <form>
        <label>Old Password</label>
        <input type="password" required>

        <label>New Password</label>
        <input type="password" required>

        <label>Confirm Password</label>
        <input type="password" required>

        <button type="submit">Change Password</button>
    </form>
    
</body>
</html>