<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'partials/navbar1.html' %}
    <h2>Movie View Report</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Movie Title</th>
                <th>Total Views</th>
            </tr>
        </thead>
        <tbody>
        </table>
</body>
</html>