<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
   
<body>
    <div class="admin-layout">

        {% include 'partials/navbar.html' %}

        <main class="main-content">
            <h1>Report</h1>
            <div class="table-wrapper"></div>

            <table border="1">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Movie Title</th>
                        <th>Total Views</th>
                    </tr>
                </thead>
                <tbody>
            </table>
        </main>
    </div>
</body>
</html>