<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>User List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
    {% include 'partials/navbar1.html' %}
    <h1>User List Page</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>History</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                

            </tr>
    </table>  
</body>
</html>